{% extends 'layout.html' %}

{% block body %}

<h1>Current Projects</h1>
<p> 
    This is a list of current Tasks and their associated Projects! ( Ongoing) 
</p>

<br>

<form action= "{{url_for("add_task")}}">
    <td><input type="submit" value= "Add New Task!" ></input></td>
</form>

<br>
<form action= "{{url_for("current_tasks")}}">
    <td><input type="submit" value= "View Current Tasks"></td>
</form>

<br>
<form action= "{{url_for("index")}}">
    <td><input type="submit" value= "Return home"></td>
</form>
<br>

<br>
<br>

<a href=https://github.com/hjt523/CRUD-Project-3D-Print> For further documentation and access to the source code, visit my Github page!
</a>
    
    <table border="1" cellspacing="0" cellpadding="0" width="100%" align="center">
        <tr>
            <th> Project </th>
            <th> Complete? </th>
            <th> Change Status </th>
            <th> Ch-Ch-CHAAAANGES </th>
            <th> Doom! </th>
        </tr>
        {% for user in tasks %}
            <tr>
            {% if user.Complete == True%}
            <form action= "{{url_for("incomplete",todoid=user.id)}}">
            
                <td>{{ user.Task}}</td>  
                <td>{{ user.id}}</td>
                <td style="background-color: rgb(14, 250, 6)">{{ user.Complete}}</td>
                <td><input type="submit" value="Incomplete"></input></td>
            
            </form>
            {%else%}
            <form action="{{ url_for("complete",todoid=user.id)}}">
            
                <td>{{ user.Task}}</td>  
                <td>{{ user.id}}</td>
                <td style="background-color: rgb(255, 209, 5)">{{ user.Complete}}</td>
                <td><input type="submit" value="complete"></input></td>
            {%endif%}
            </form>
            <form action= "{{url_for("update",todoid=user.id)}}">
                <td><input type="submit" value= "Update"></td>
            </form>
            <form action= "{{url_for("delete",todoid=user.id)}}">
                <td style="background-color:rgb(161, 8, 8)"><input type="submit" value= "Delete" ></input></td>
            </form>
            </tr>
        {% endfor %}
    </table>

    <br>

{% endblock body%}