{% extends 'layout.html' %}

{% block body %}

<h1>Current Tasks</h1>
<p> 
    This is a list of current Tasks and their associated Projects! ( Ongoing) 
</p>

<br>
<table border="1" cellspacing="0" cellpadding="0" width="100%" align="center">
    <tr>
        <th> Task </th>
        <th> Description </th>
        <th> Progress </th>
        <th> Finished? </th>
        <th> Update Task </th>
        <th> Delete </th>
        <th> Associated Projects(s) </th>
    </tr>
    {% for user in tasks %}
        <tr>
            <td>{{ user.name}}</td>   
            <td>{{ user.details}}</td>
            <td>{{ user.progress}}</td>
            {% if user.complete == True%}
            <form action= "{{url_for("task_incomplete",taskid=user.id)}}">
                <td style="background-color: rgb(14, 250, 6)"> Finished
                <input type="submit" value="Unfinish"></input></td>
            </form>
            {%else%}
            <form action="{{ url_for("task_complete",taskid=user.id)}}">
                <td style="background-color: rgb(255, 209, 5)"> Unfinished
                <input type="submit" value="Finish"></input></td>
            </form>
            {%endif%}
            <form action= "{{url_for('up_task',taskid=user.id)}}">
                <td><input type= "submit" value = "Update Task"></input> </td>
            </form>
            <form action= "{{url_for('deletet',taskid=user.id)}}">
                <td style="background-color:rgb(161, 8, 8)"><input type = "submit" value = "Delete Task"></input></td>
            </form>
            <td>
                {% for twoser in connect %}
                    {% if twoser.task_id == user.id %}
                        {% if twoser.projects.name != null%}
                            <p> {{twoser.projects.name}}, ( complete =  {{ twoser.projects.staatus}} )</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class = "dropdown">
                    <div class = "drowndown-content">
                        {% for x in projects %}

                        <form action= "{{url_for('glue', projectid = x.id, taskid = user.id)}}">
                            <input type = "submit" value = {{ x.name }}></input>
                        </form>
                        {% endfor %}
                    </div>

                </div>
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<form action= "{{url_for("current_projects")}}">
    <td><input type="submit" value= "View Current Projects"></td>
</form>

<br>
<form action= "{{url_for("index")}}">
    <td><input type="submit" value= "Return home"></td>
</form>
<br>

<br>
<br>

<a href=https://github.com/hjt523/CRUD-Project-3D-Print> For further documentation and access to the source code, visit my Github page!
</a>
    
 

{% endblock body%}